/* Variables */
:root{
    --veryLightPink: #c7c7c7;
    --textInputField: #f7f7f7;
    --hospitalGreen: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
}



/********** NAVBAR ***********/
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 3rem;
    height: 6rem;
    border-bottom: 1px solid var(--veryLightPink);
}
.burgerMenu{
    display: none;
}
.navbarLeft{
    display: flex;
    margin-left: 1.5rem;
}
.navbarLeft ul{
    margin-left: 2rem;
}
.logo{
    width: 10rem;
}
.navbarLeft ul, .navbarRight ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbarLeft ul li a, .navbarRight ul li a{
    text-decoration: none;
    color: var(--veryLightPink);
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 0.6rem;
}
.navbarLeft ul li a:hover, .navbarRight ul li a:hover{
    text-decoration: none;
    color: var(--hospitalGreen);
    border: 1px solid var(--hospitalGreen);
}
.navbarRight{
    display: flex;
    margin-right: 2rem;
}
.navbarEmail{
    color: var(--veryLightPink);
    font-size: var(--sm);
    margin-right: 3rem;
}
.navbarEmail:hover{
    cursor: pointer;
    color: var(--hospitalGreen);
}
.navbarShoppingCart{
    position: relative;
}
.navbarShoppingCart:hover{
    cursor: pointer;
}
.navbarShoppingCart div {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospitalGreen);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -0.7rem;
    right: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/********* Signout *********/
.desktopMenu{
    position: absolute;
    background-color: var(--white);
    top: 5.9rem;
    right: 0;
    width: 15rem;
    height: auto;
    border: 1px solid var(--veryLightPink);
    border-radius: 1rem;
    padding: 2rem 2rem 0 2rem;
}
.desktopMenu ul{
    list-style: none;
}
.desktopMenu ul li{
    text-align: end;
}
.desktopMenu ul li:last-child{
    padding-top: 2rem;
    border-top: 1px solid var(--veryLightPink);
}
.desktopMenu ul li:last-child a{
    color: var(--hospitalGreen);
    font-size: var(--sm);
}
.desktopMenu ul li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
}
.desktopMenu ul li:nth-child(1),.desktopMenu ul li:nth-child(2){
    font-weight: bold;
}




/******* Mobile menu *******/
.mobileMenu{
    background-color: var(--white);
    padding: 2.4rem;
    position: absolute;
    top: 6rem;
    width: 75%;
    }
.mobileMenu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    }
.mobileMenu ul{
    list-style: none;
    margin-top: 2.5rem;
    }
.mobileMenu ul:nth-child(1){
    border-bottom: 1px solid var(--veryLightPink);
    }
.mobileMenu ul li{
    margin-bottom: 2.5rem;
    }
.mobileMenu .email{
    font-size: var(--sm);
    font-weight: 300;
    }
.mobileMenu .signOut{
    color: var(--hospitalGreen);
    font-size: var(--sm);
    }




/****** Aside, Shopping Cart ******/
.productDetails{
    background-color: var(--white);
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 36rem;
    height: 80vh;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 1rem;
}
.productDetails .primaryButton{
    background-color: var(--hospitalGreen);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 85%;
    height: 5rem;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    align-self: center;
}
.myOrderContent, .orderContainer, .buttonContainer{
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    margin-bottom: 2rem;
}
.shoppingCard{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin-bottom: 1rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    align-items: center;
}
.shoppingCard figure img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 2rem;
}
.shoppingCard p:nth-child(2){
    color: var(--veryLightPink);
}
.shoppingCard p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.shoppingCard > img:hover{
    cursor: pointer;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
    align-items: center;
    background-color: var(--textInputField);
    padding: 1.6rem;
    margin-bottom: 2.4rem;
    border-radius: 1rem;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.title{
    display: flex;
    margin: 1rem 2rem;
}
.title img {
    transform: rotate(180deg);
    width: 0.8rem;
    margin-right: 2rem;
}
.title img:hover {
    cursor: pointer;
}
.title p {
    font-size: var(--lg);
    font-weight: bold;
}




/* Main Products */
.cardsContainer{
    --cardSize: 24rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cardSize));
    gap: 2.6rem;
    place-content: center;
    place-items: center;
    margin-top: 1.5rem;
}
.productCard{
    width: var(--cardSize);
}
.productCard img{
    width: 100%;
    height: 24rem;
    object-fit: cover;
    border-radius: 2rem;
}
.productCard img:hover{
    cursor: pointer;
}
.productInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productInfo figure img {
    width: 3.5rem;
    height: 3.5rem;
}
.productInfo div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 0.5rem;
}
.productInfo div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--veryLightPink);
}




/****** Detalles del producto *******/
.productDetailsAside{
    background-color: var(--white);
    border-bottom-left-radius: 1rem;
    width: 36rem;
    padding-bottom: 2.5rem;
    position: absolute;
    right: 0;
}
.primaryButton{
    background-color: var(--hospitalGreen);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 100%;
    height: 5rem;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.addToCartButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.productDetailsAside .producDetails__close{
    background-color: var(--white);
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1.2rem;
    left: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.productDetailsAside .producDetails__close:hover{
    cursor: pointer;
}
.productDetailsAside > .producDetails__img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 10rem 0;
}
.productInfoAside{
    margin: 0 2rem;
}
.productInfoAside p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin: 2.5rem 0 0.5rem 0;
}
.productInfoAside p:nth-child(2){
    font-weight: 500;
    font-size: var(--md);
    color: var(--veryLightPink);
    margin: 0 0 2rem 0;
}
.productInfoAside p:nth-child(3){
    font-weight: 300;
    font-size: var(--sm);
    margin: 0 0 1rem 0;
    color: var(--black);
}




@media (min-width: 641px) {
    .mobileMenu {
        display: none;
    }
}


@media (max-width: 640px) {
    .burgerMenu {
        display: block;
        width: 2.5rem;
    }
    nav {
        padding: 1rem;
    }
    .navbarLeft ul {
        display: none;
    }
    .navbarRight {
        margin-right: 0;
    }
    .navbarRight .navbarEmail {
        display: none;
    }
    .desktopMenu {
        display: none;
    }
    .productDetails {
        width: 100%;
    }

    
    .cardsContainer{
        --cardSize: 14rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--cardSize), 1fr));
        gap: 1rem;
    }
    .productCard{
        width: var(--cardSize);
    }
    .productCard img{
        width: var(--cardSize);
        height: var(--cardSize);
        border-radius: 2rem;
    }

    
    .productDetailsAside {
        width: 100%;
    }
}


.inactive{
    display: none
}